.buttonStyle {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: black 3px solid;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.fullWidth {
    width: 100%;
}

.danger {
    background-color: red;
    color: black;
    border: red 3px solid;
}

.danger:hover {
    background-color: #FFCCCC;
    color: white;
    border: red 3px solid;
}

.outline-danger{
    background-color: white;
    color: black;
    border: red 3px solid;
}

.outline-danger:hover{
    background-color: red;
    color: white;
    border: red 3px solid;
}

.success {
    background-color: green;
    color: white;
    border: green 3px solid;
}

.success:hover {
    background-color: lightgreen;
    color: white;
    border: green 3px solid;
}

.outline-success{
    background-color: white;
    color: green;
    border: green 3px solid;
}

.outline-success:hover{
    background-color: green;
    color: white;
    border: green 3px solid;
}

.secondary {
    background-color: grey;
    color: white;
    border: grey 3px solid;
}

.secondary:hover{
    background-color: lightgrey;
    color: white;
    border: grey 3px solid;
}

.outline-secondary{
    background-color: white;
    color: grey;
    border: grey 3px solid;
}

.outline-secondary:hover{
    background-color: grey;
    color: white;
    border: grey 3px solid;
}

.primary {
    background-color: blue;
    color: white;
    border: blue 3px solid;
}

.primary:hover{
    background-color: lightblue;
    color: white;
    border: blue 3px solid;
}

.outline-primary{
    background-color: white;
    color: blue;
    border: blue 3px solid;
}

.outline-primary:hover{
    background-color: blue;
    color: white;
    border: blue 3px solid;
}