.carousel {
    position: relative;
    overflow: hidden;
    margin: auto;
  }
  
  .carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }
  
  .carousel-slide {
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: none; 
  }
  
  .carousel-slide.active {
    opacity: 1;
    display: block; 
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }
  
  .carousel-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .carousel-dot {
    height: 40px;
    width: 40px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    cursor: pointer;
  }
  
  .carousel-dot.active {
    background-color: #333;
    color: white;
  }
  