.switch-lg {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-lg input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-lg .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.switch-lg .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.switch-lg input:checked + .slider {
  background-color: #2196f3;
}

.switch-lg input:checked + .slider:before {
  transform: translateX(26px);
}

.switch-lg .slider.round {
  border-radius: 34px;
}

.switch-lg .slider.round:before {
  border-radius: 50%;
}

.switch-md {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.switch-md input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-md .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.switch-md .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.switch-md input:checked + .slider {
  background-color: #2196f3;
}

.switch-md input:checked + .slider:before {
  transform: translateX(22px);
}

.switch-md .slider.round {
  border-radius: 28px;
}

.switch-md .slider.round:before {
  border-radius: 50%;
}

.switch-sm {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch-sm input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-sm .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.switch-sm .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

.switch-sm input:checked + .slider {
  background-color: #2196f3;
}

.switch-sm input:checked + .slider:before {
  transform: translateX(20px);
}

.switch-sm .slider.round {
  border-radius: 20px;
}

.switch-sm .slider.round:before {
  border-radius: 50%;
}
